/*--- CSS Demo----*/

body{
    background-color:bisque
}

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


/* -----------------Responsive Images----------------- *//*so images can stay on page when minimized*/

img{
  max-width:100%;
}


/* -----------------Utility Classes----------------- */

/*--This deals with centering the words on the page*/

.container{
  max-width:960px;
  width:80vw;
  margin:60px auto;
}

.img-right{
  float:right;
  margin:15px 0 12px 20px;
  /*top right bottom left*/
  border:1px solid yellow;
  padding:6px;
  border-radius:30px;
  /*background-color:aqua;*/
}

.img-left{
  float:left;
  margin:10px 20px 10px 0;
  /*top right bottom left*/
  border:1px solid yellow;
  padding:6px;
  border-radius:30px;
  /*background-color:aqua;*/
}

.img-center{
  display:block;
  margin:20px auto;
  border:1px solid lime;
  padding:5px;
  border-radius:50px;
}

/*  --------------- Global Styles -----------------  */

body{
    font-family: "Montserrat", sans-serif;
    margin:0;
}

header.primary{
background-color: #AEBEBF;
color:#ffffff;
text-align:center; 
text-shadow:3px 3px 20px #000000;
padding:30px;
/*long form
padding: top 30px;
padding-right:30px ;
padding-bottom:30px;
padding-left:30px ;
/*Single value short hand
padding:40px;  
/* T,R,B,L 
padding: 20px 40px 20px 40px;  
/* Two Value Top/Bottom / L/R 
padding: 20px 40px;*/
}

header.primary h1{
font-size: 3rem;
margin:20px 0 0;
}

header.primary h1 a{
  color:#233A40;
  text-decoration:none;
}

header.primary h2{
font-size:2rem ;
margin:0;
}

header.primary nav{
  max-width:900px;
  margin: 30px auto;
}

header.primary ul{
  padding:15px 0;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

header.primary ul li{
  list-style-type: none;
}

header.primary nav a{
  color:#ffffff;
  text-decoration:none;
  background-color:rgba(0,0,0,.4);
  padding:10px 6px;
  border-radius:30px;
  border: 1px solid rgb(178, 156, 201);
  transition:0.6s;
}

header.primary nav a:hover{
background-color: rgba(0,0,0,.9);
}

#content{
  line-height:1.5;
}

#content h2{
color:red;
border-bottom:6px dotted royalblue;
/* 6px = width dotted = stroke and then color*/
}

#content h3{
  border-left: 8px solid blue;
  padding:7.5px;
}

#blog{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:2rem;
  border-bottom:2px dotted red;
  padding-bottom:2rem;
  border-top:1px dotted red;
  padding-top:2rem; 
  /*padding: 2rem 0*/
}

#blog .post{
  box-shadow: 0 4px 8px rgba(0,0,0,0.75);
  padding:10px;
  border-radius:4px;
  font-size:.8rem;
  transition:.5s;
}

#blog figure{
  margin:0;
  background:red;
}

#blog figcaption{
  text-transform:uppercase;
  font-size:.6rem;
  text-align:center;
}

#blog header{
  padding-top:10px;
  font-size:.8rem;
}

#blog header h2{
  margin:0;
}

#blog a{
  color:blue;
}

#blog .post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,.6);
}

#practice h2{
  color:purple;
  border-bottom: 1px solid pink;
}

table{
  border: 1px solid grey;
  width:100%;
  margin:25px 0;
  border-collapse:collapse;
}

caption{
  font-weight:bold;
  margin:10px;
}

th{
  background-color:aqua;
  color:white;
  padding:5px;
}

tr:nth-child(even){
  background-color: brown;
}
td{
  border: 3px solid darkcyan;
  padding:4px;
}





aside[role="complementary"]{
  background-color:#EBF2F2;
  color:red;
  padding:1.5rem;
}

aside .container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  gap:50px;
}

aside .container a{
  background:red;
  display:block;
  color:white;
  text-align:right;
  margin-top:1rem;

}

aside .widget footer{
  display:none;
  /*use display:none carefully , it hides information fro user*/
}

/*footer*/
#colophon{
background-color:red;
padding:12px;
color:white;
font-size:1.5rem;
}










@media screen and (max-width:600px) {
  header.primary ul{
    flex-direction:column;
    gap:20px;
    max-width:250px;
    margin:auto;
  }
  header.orimary nav a{
    display:block;
  }
}