body{
    background-color:#79F2E6;
}

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  img{
    max-width:100%;
  }

  .container{
    max-width:960px;
    width:80vw;
    margin:60px auto;
  }

  header.primary{
    background-image: url(../img/Dragonx.jpg);
    text-align:center; 
    text-shadow:15px 10px 50px #000000;
    padding:40px;
  }